# Ignore all application state and data
app-data/

# Ignore sensitive system config files if accidentally copied
*.secret
*.cred
*.key
certs/

# other
# diff.txt i use to put diffs for sharing with agents
diff.txt 