# Ignore all application state and data
app-data/

# Ignore sensitive system config files if accidentally copied
*.secret
*.cred
*.key
certs/
secrets/*

# other
# diff.txt i use to put diffs for sharing with agents
diff.txt 

# HA ignores
app-data/homeassistant/*.db*
app-data/homeassistant/*.log*
app-data/homeassistant/tts/
app-data/homeassistant/backups/
app-data/homeassistant/cloudedge_session_cache_*

# python stuff
__pycache__/
.venv
