PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
NC_BACKUP_DIR="/mnt/backups/nextcloud"
NC_HOST_DATA_PATH="/home/cormac/docker/app-data/nextcloud/html"
NC_CONTAINER="nextcloud-app"
NC_DB_CONTAINER="nextcloud-db"
NC_COMPOSE_DIR="/home/cormac/docker/compose-stacks/nextcloud"
NC_USER="cormac"
TAILSCALE_DOMAIN="wolfetone.tailee21f7.ts.net"
TAILSCALE_URL="https://wolfetone.tailee21f7.ts.net"